body {
    margin: 0em;
    padding: 0em;
    width: 800px;
    height: 600px;
    border-radius: 2em;
}

::-webkit-scrollbar {
    display: none !important;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 100%;
}

.orange-box {
    background: #FF8253;
    width: 100%;
    height: 100%;
    float: left;
}

.orange-container {
    margin-left: 3.2em;
    margin-top: 4em;
    position: fixed;
}

.name {
    color: #fff;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.tab {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #F2D4C9;
    margin-top: 7em;
    -webkit-user-select: none;
}

.btn {
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    color: #fff;
    border: 0.1em solid;
    border-color: #fff;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
    padding: .4em;
    padding-left: 2em;
    padding-right: 2em;
    width: auto;
    text-align: center;
    margin-top: 3em;
    -webkit-user-select: none;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #FF8253;
}

.white-box {
    width: 100%;
    height: 100%;
}

.white-container {
    margin-left: 3.2em;
    margin-top: 4em;
    margin-right: 3.2em;
}

.saved-articles {
    color: #393939;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.saved-container {
    /* background:rgb(194, 194, 194); */
    width: 100%; 
    
}

.saved-article-entry {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
    align-items: center;
    justify-content: space-between;
}

.saved-article-entry > * {
    vertical-align:middle;  
}

.article-name {
    display: inline-block;
    /* background: #000; */
    color: #393939;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 60%;
    margin-right: 5.6em;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.white-box::-webkit-scrollbar {
    display: initial;
    background-color: red;  
}

.date {
    display: inline-block;
    height: 1.5em;
    background-color: #F9F6F6;
    color: #393939;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #B7B7B7;
    padding: .5em 1.5em .5em 1.5em;
    border-radius: 2em;
    vertical-align: middle;
    right: 0em;
}

.post-line {
    background-color: #DFDFDF;
    border-width: 0em;
    height: 0.2em;
    width: 100%;
}

ul {
    position: absolute;
    background: #fff;
    padding: 0em;
    margin: 0em;
    max-width: 40em;
    margin-bottom: 3em;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    margin-top: 1em;
    animation: Open_div .2s linear;
}

.hidden {
    display: none
}

li {
    color: #393939;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    list-style: none;
    line-height: 3em;
    padding-left: 14px;
    padding-right: 9px;
    white-space: nowrap;
    overflow: hidden; 
    transition: 0.1s ease-in-out;   
    overflow-x: scroll;
    border-bottom: 1px solid #DFDFDF;
    -webkit-user-select: none;
    animation: FadeIn .5s linear;
    z-index: top;
}

@keyframes FadeIn { 
    0% {opacity:0}
    100% {opacity:1}
  }

li:hover {
    background: #F3F3F3;
    border-radius: 4px;
    transition: 0s;
}

li:active {
    background: #E9E9E9
}

.select-tab {
    display: flex;
    height: 3.4em;
    width: 14em;
    align-items: center;
    position: relative;
}

.select-tab::after {
    content: "";;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #fff;
}

.selected {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
    max-height: 50%;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
}

.under-tab-line {
    display: none;
    position: absolute;
    background-color: #fff;
    border-width: 0em;
    height: 0.1em;
    width: 14em;
    left: 0;
    bottom: 0;
}

.drop-arrow {
    width: auto;
    height: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.rotate {
    animation: rotate .6s ease-in-out;
    transform: rotate(180deg);
}

.rotate-reverse {
    animation: rotate-reverse .6s ease-in-out;
    transform: rotate(0deg)
}

@keyframes rotate { 
    0% {transform: rotate(0deg)}
    30% {transform: rotate(230deg)}
    70% {transform: rotate(160deg)}
    100% {transform: rotate(180deg)}
  }

  @keyframes rotate-reverse { 
    0% {transform: rotate(180deg)}
    30% {transform: rotate(-40deg)}
    70% {transform: rotate(20deg)}
    100% {transform: rotate(0deg)}
  }

.list-overlay {
    position: fixed;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: #FF8253;
}
