body {
    margin: 0em;
    padding: 0em;
    width: 800px;
    height: 600px;
    border-radius: 2em;
}

::-webkit-scrollbar {
    display: none !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 100%;
}

.orange-box {
    background: #FF8253;
    background-image: linear-gradient(210deg, #FF8253, 65%, #532060);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    float: left;
}

.orange-container {
    margin-left: 3.2em;
    margin-top: 4em;
    position: fixed;
    z-index: 10;
}

.name {
    color: #fff;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.tab {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #F2D4C9;
    margin-top: 7em;
    -webkit-user-select: none;
}

.btn {
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    color: #fff;
    border: 0.1em solid;
    border-color: #fff;
    border-radius: 2em;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
    padding: .4em;
    padding-left: 2em;
    padding-right: 2em;
    width: auto;
    text-align: center;
    margin-top: 3em;
    -webkit-user-select: none;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #393939;
}

.white-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 5;
    vertical-align: middle;
}

.white-container {
    width: 100%;
    margin-left: 1em;
    margin-top: 4em;
    margin-right: 8em;
    /* background: blue */
}

.main-header {
    display: none;
    color: #393939;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-left: 15px;
}

.error-message-saved {
    display: none;
    margin-left: 17px;
    color: #393939;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 75%;
}

.saved-container {
    display: none;
    /* background: red; */
    width: auto;
    margin-left: 5px; 
    margin-right: 5px;
}

.saved-article-entry {
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    align-items: center;
    justify-content: space-between;

}

.hover-div {
    z-index: 0;
    /* background: linear-gradient(to left, #fff 50%, #F9F6F6 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
    transition: 0.15s ease-in-out;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 3px;
    cursor: pointer;
}

.hover-div:hover {
  background: #F9F6F6;
  background-position: left;
} 

.saved-article-entry > * {
    vertical-align: middle;  
}

.article-name {
    display: inline-block;
    /* background: #000; */
    color: #393939;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 50%;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.white-box::-webkit-scrollbar {
    display: initial;
    background-color: red;  
}

.date {
    display: inline-block;
    height: 1.5em;
    background-color: #F9F6F6;
    color: #7D7D7D;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: .8em 1.5em .3em 1.5em;
    border-radius: 2em;
    vertical-align: middle;
    right: 0em;
}

.post-line {
    margin: 0 ;
    background-color: #DFDFDF;
    border-width: 0em;
    height: 0.2em;
    width: 100%;
}

ul {
    position: absolute;
    background: #fff;
    padding: 0em;
    margin: 0em;
    max-width: 40em;
    margin-bottom: 3em;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    margin-top: 1em;
    z-index: top;
}

.hidden {
    display: none
}

li {
    color: #393939;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    list-style: none;
    line-height: 3em;
    padding-left: 14px;
    padding-right: 9px;
    white-space: nowrap;
    overflow: hidden; 
    transition: 0.1s ease-in-out;   
    overflow-x: scroll;
    border-bottom: 1px solid #DFDFDF;
    -webkit-user-select: none;
    animation: FadeIn .5s linear;
}

@keyframes FadeIn { 
    0% {opacity:0}
    100% {opacity:1}
  }

li:hover {
    background: #F3F3F3;
    border-radius: 4px;
    transition: 0s;
}

li:active {
    background: #E9E9E9
}

.select-tab {
    display: flex;
    height: 3.4em;
    width: 14em;
    align-items: center;
    position: relative;
}

.select-tab::after {
    content: "";;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #fff;
}

.selected {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
    max-height: 50%;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
}

.under-tab-line {
    display: none;
    position: absolute;
    background-color: #fff;
    border-width: 0em;
    height: 0.1em;
    width: 14em;
    left: 0;
    bottom: 0;
}

.drop-arrow {
    width: auto;
    height: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.rotate {
    animation: rotate .6s ease-in-out;
    transform: rotate(180deg);
}

.rotate-reverse {
    animation: rotate-reverse .6s ease-in-out;
    transform: rotate(0deg)
}

@keyframes rotate { 
    0% {transform: rotate(0deg)}
    30% {transform: rotate(230deg)}
    70% {transform: rotate(160deg)}
    100% {transform: rotate(180deg)}
  }

  @keyframes rotate-reverse { 
    0% {transform: rotate(180deg)}
    30% {transform: rotate(-40deg)}
    70% {transform: rotate(20deg)}
    100% {transform: rotate(0deg)}
  }

.list-overlay {
    position: fixed;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: #FF8253;
}

.side-bar {
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 60px; 
    box-shadow:  0px 0px 15px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 0;
    z-index: 10;
    border-radius: 24px 0em 0em 24px;
}

/* -------------------- css for book icon ---------------------- */

.book-shelf {
    height: auto;
    width: 55px;
    margin-top: 4em;
}
  
@-webkit-keyframes book-bounce {
0% {
    transform: translateY(0);
}
40% {
    transform: translateY(-10px);
}
80% {
    transform: translateY(0);
}
100% {
    transform: translateY(0);
}
}

@keyframes book-bounce {
0% {
    transform: translateY(0);
}
40% {
    transform: translateY(-10px);
}
80% {
    transform: translateY(0);
}
100% {
    transform: translateY(0);
}
}
@-webkit-keyframes shelf-lift {
0% {
    transform: translateY(0) rotate(0);
}
20% {
    transform: translateY(-4px) rotate(10deg);
}
40% {
    transform: translateY(-4px) rotate(0);
}
40% {
    transform: translateY(-4px) rotate(-10deg);
}
80% {
    transform: translateY(0);
}
100% {
    transform: translateY(0);
}
}
@keyframes shelf-lift {
0% {
    transform: translateY(0) rotate(0);
}
20% {
    transform: translateY(-4px) rotate(10deg);
}
40% {
    transform: translateY(-4px) rotate(0);
}
40% {
    transform: translateY(-4px) rotate(-10deg);
}
80% {
    transform: translateY(0);
}
100% {
    transform: translateY(0);
}
}
.book-shelf:hover {
cursor: pointer;
}
.book-shelf:hover .book-shelf__book {
-webkit-animation: book-bounce 0.4s ease;
        animation: book-bounce 0.4s ease;
-webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.book-shelf:hover .book-shelf__book--two {
-webkit-animation-delay: 0.04s;
        animation-delay: 0.04s;
}
.book-shelf:hover .book-shelf__book--three {
-webkit-animation-delay: 0.08s;
        animation-delay: 0.08s;
}
.book-shelf:hover .book-shelf__shelf {
-webkit-animation: shelf-lift 0.4s ease;
        animation: shelf-lift 0.4s ease;
-webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
transform-origin: 50% 50%;
}

/* -------------------code for Instagram icon--------------------- */
.icon-link {  
    display: inline-flex;
    font-size: 2em;  
    text-decoration: none;  
    color: var(--color-icon);
    width: 1.7em;
    height: 1.7em;   
    transition: .5s linear;
    position: relative;
    z-index: 3;
    margin-bottom: 2em;
    cursor: pointer;
  }
  
  
  .icon-link:hover {
    color: #fff;
  }
  
  .icon-link i {
    margin: auto;    
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1.7em;
    height: 1.7em;
    background: #FF8253;
    background-image: linear-gradient(210deg, #FF8253, 45%, #532060);
    border-radius: 50%;
    z-index: -2;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
 /* -----------------Summarized Article Styling------------------- */

.article {
    position: relative;
    color: #393939;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    z-index: -1;
}

.summarized-article {
    display: none;
    margin-left: 17px;
    margin-right: 1em;
    margin-bottom: 4em;
}

/* ------------------Styling for Like button--------------------- */
#main-content {
    margin-top: 4px;
    flex-grow: 2;
    display: none;
  }
  
  #heart-svg {
    cursor: pointer;
    overflow: visible;
    width: 48px;
  }
  svg #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }
  svg #main-circ {
    transform-origin: 29.5px 29.5px;
  }
  
  #checkbox {
    display: none;
  }
  
  #checkbox:checked + label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart 0.3s linear forwards 0.25s;
  }
  #checkbox:checked + label svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }
  #checkbox:checked + label svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  
  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #DD4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #D46ABF;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #CC8EF5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0;
    }
  }
  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }

  /* --------------------Styling for Search Bar------------------- */
.search {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    border: 0;
    background: #F9F6F6;
    color: #393939;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border-radius: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 1.3em;
    padding-right: 1.3em;
    transition: ease-in-out 0.2s;
}

.search::placeholder {
    color: #C5C5C5;
}

.search:focus {
    background:#D96C56;
    color: #fff;
}

.search:focus::placeholder {
    opacity: 0;
}
